name: Build and Package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y g++ libcurl4-openssl-dev nlohmann-json3-dev devscripts

    - name: Compile the application
      run: |
        g++ -std=c++23 -g ${GITHUB_WORKSPACE}/main.cpp -o ${GITHUB_WORKSPACE}/nlm.exe -lcurl -Wall

    - name: Create Debian package
      run: |
        # Create the directory structure for the Debian package
        mkdir -p ${GITHUB_WORKSPACE}/deb-package/usr/local/bin
        cp ${GITHUB_WORKSPACE}/nlm.exe ${GITHUB_WORKSPACE}/deb-package/usr/local/bin/

        # Create the control file for package metadata
        mkdir -p ${GITHUB_WORKSPACE}/deb-package/DEBIAN
        cat <<EOF > ${GITHUB_WORKSPACE}/deb-package/DEBIAN/control
        Package: nlm
        Version: 1.0
        Section: base
        Priority: optional
        Architecture: amd64
        Maintainer: Your Name <your.email@example.com>
        Description: Your project description
        EOF

        # Build the Debian package
        dpkg-deb --build ${GITHUB_WORKSPACE}/deb-package

    - name: Upload Debian package
      uses: actions/upload-artifact@v2
      with:
        name: nlm-debian
        path: ${GITHUB_WORKSPACE}/deb-package.deb

  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git C:/vcpkg
        C:/vcpkg/bootstrap-vcpkg.bat

    - name: Install dependencies with vcpkg
      run: |
        C:/vcpkg/vcpkg install curl:x64-windows
        C:/vcpkg/vcpkg install nlohmann-json:x64-windows

    - name: Compile the application
      shell: msys2 {0}
      run: |
        g++ -std=c++23 -g ${GITHUB_WORKSPACE}/main.cpp -o ${GITHUB_WORKSPACE}/nlm.exe -lcurl -Wall -I C:/vcpkg/installed/x64-windows/include -L C:/vcpkg/installed/x64-windows/lib

    - name: Copy DLLs and Executable
      run: |
        mkdir -p ${GITHUB_WORKSPACE}/output
        cp C:/vcpkg/installed/x64-windows/bin/libcurl*.dll ${GITHUB_WORKSPACE}/output/
        cp C:/vcpkg/installed/x64-windows/bin/*.dll ${GITHUB_WORKSPACE}/output/
        cp ${GITHUB_WORKSPACE}/nlm.exe ${GITHUB_WORKSPACE}/output/

    - name: Create ZIP archive
      run: |
        powershell Compress-Archive -Path ${GITHUB_WORKSPACE}/output/* -DestinationPath ${GITHUB_WORKSPACE}/nlm.zip

    - name: Upload ZIP archive
      uses: actions/upload-artifact@v2
      with:
        name: nlm-windows
        path: ${GITHUB_WORKSPACE}/nlm.zip
